body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #FFAB40;
}

.image-gallery-slide{
  background-color:#FFCC80;
}

.image-gallery-image > img{
  margin: auto;
  display: block;
  height: 100%;
  width: 75%;
}

#randomButton {
  position: relative;
  left: 50%;
}